include "cfg/output.kdl"
include "cfg/input.kdl"
include "cfg/bindings.kdl"
include "cfg/layout.kdl"
include "cfg/rules.kdl"
include "cfg/animations.kdl"
include "cfg/exec.kdl"
include "cfg/misc.kdl"

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
