spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpapers/wallpaper.png -m fill"
spawn-sh-at-startup "WGPU_BACKEND=gl ashell"
spawn-sh-at-startup "vicinae server &"
spawn-sh-at-startup "gpu-screen-recorder -w screen -k hevc -c mp4 -r 30 -a default_output -o ~/Videos/clips"
