layout {
    gaps 16
    center-focused-column "never"
    default-column-width { proportion 1.0; }

    tab-indicator {
        hide-when-single-tab
        
        place-within-column true
        
        width 4
        active-gradient from="#FF8F40" to="#FFB454" angle=45
        inactive-color "#3E4B59"
        urgent-color "#F07178"
    }

    focus-ring {
        width 4
        active-gradient from="#FF8F40" to="#FFB454" angle=45
        inactive-color "#3E4B59"
        urgent-color "#F07178"
    }

    shadow {
        on
        draw-behind-window false
        softness 4
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
